//
// Tema UCR
//
// Desarrollado por:
// - Marco Artavia Quesada
// - Rubén Jiménez Goñi

.page {

 // ================================================
    // == node--personas.html.twig =====================
    // ================================================

    .n-proyectos__body {
        margin-bottom: 30px;
    }

}