{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<a class="sanitize_href" href="{{ content.field_enlace_con_icono_enlace }}">
    {{ content.field_enlace_con_icono_imagen }}
    <i class="accessible_elem">{{ content.field_enlace_con_icono_enlace['#title'] }}</i>
</a>