{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<div class="pagina__imagen-contenedor">
    {% for item in items%}
        {{ item.content }}
    {% endfor %}
</div>