{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<br>
<h3 class="{{ content.field_mostrar_titulo }}">
	{{ node.getTitle() }}
</h3>
<div class="n-cursos__body">
  {{ content.body }}
</div>
{{ content.field_cursos }}