{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<div class="frontpage__proyectos">
    {% for row in rows %}
        {{ row.content }}
    {% endfor %}
</div>