{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
	  {{ content.field_item_colapsable_referencia }}
</div>