//
// Tema UCR
//
// Desarrollado por:
// - Marco Artavia Quesada
// - Rubén Jiménez Goñi

.page {

    /* ================================================================================ */
    /* = Nodo ========================================================================= */
    /* ================================================================================ */

    .descargas-icono_lista {
        list-style: none;
        padding-left: 0 ; 

        li {
            display: inline-block;
            margin: 15px;
        }
    }
 }