{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<div class="frontpage__contacto clearfix">
    <div class="frontpage-titulo frontpage__contacto-titulo">{{ 'Unite a la FEUCR' | t }}</div>
    {% block content %}
        {{ content }}
    {% endblock %}
</div>
