{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}

	<div class="n-proyecto-referencias">
		{% for item in items %}
			{{ item.content }}
		{% endfor %}
	</div>