{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<h2 class="{{ content.field_mostrar_titulo }}">{{ label }}</h2>
{{ content.field_referencia_enlaces_icono }}
<br>