{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<div class="v-publicaciones">
  <div class="row">
  	
		<div class="panel" >
			{{ fields.field_publicacion_archivo.content }}
		</div>
  </div>
</div>







