{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
{% if 'layout-ucr-2016' not in (content | render).__toString() %}
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
{% endif %}
      {% block content %}
        {{ content }}
      {% endblock %}
{% if 'layout-ucr-2016' not in (content | render).__toString() %}
    </div>
  </div>
{% endif %}