{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<div class="row">
  {{ content.field_publicacion_imagenes }}
  {{ content.body }}
  {{ content.field_publicacion_descargas }}
</div>