{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<div class="row">
  <div class="col-xs-9">
    <h2>{{ fields.title.content }}</h2>
    <p>{{ fields.field_galeria_presentacion_descr.content }}</p>
  </div> 
  <div class="col-xs-3">
    <h3>{{ 'Downloads' | t }}</h3>
    {{ fields.field_galeria_presentacion_archi.content }}
  </div>
</div>
