{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
{% if title %}
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h1 class="page-title" {{ title_attributes }}>{{ title }}</h1>
    </div>
  </div>
{% endif %}
