//
// Tema UCR
//
// Desarrollado por:
// - Marco Artavia Quesada
// - Rubén Jiménez Goñi

.page {

    // ================================================
    // == node--contacto.html.twig ====================
    // ================================================

    .n-contacto__mapa {

    margin-bottom: 50px;
    
        iframe {
            width: 100%;
            height: 300px;
        }
        
        p {
            text-align: right;
        }
    }

    .n-contacto__body {
        margin-bottom: 20px;
    }
}