{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
{{ content.field_galeria_presentacion_archi }}
<br>
{{ content.field_galeria_presentacion_descr }}
<br>

<p class="n-galeria-video__back">
  <a href="{{ url('<front>')}}galeria-presentaciones">
    Ir a la galería
  </a>
</p>