{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<div{{ wrapper_attributes }}>
  <textarea{{ attributes.addClass('form-control') }}>{{ value }}</textarea>
</div>
