{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<div>
  {{ content.field_banner }}
  {% if not page %}
  {% endif %}
  <div id="carrusel-frontpage" >
    {{ content.field_carrusel_referencia_c_f_el }}
  </div>
</div>