{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
{{ content.field_galeria_video_link }}
<br>
{{ content.field_galeria_video_descripcion }}
<br>

<p class="n-galeria-video__back">
  <a href="{{ url('<front>')}}galeria-videos">
    Ir a la galería
  </a>
</p>