{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<a class="sanitize_href" href="{{ content.field_descarga_icono_descarga }}">
    {{ content.field_descarga_icono_imagen }}
    <i class="accessible_elem">{{ content.field_descarga_icono_descarga }}</i>
</a>