{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<div class="n-proyectos__body">
  {{ content.body }}
</div>

<div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
	  {{ content.field_proyectos_referencias }}
</div>