{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}

<h2 class="{{ content.field_mostrar_titulo }}">{{ label }}</h2>
<br>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	{{ content.field_referencia_area_comision }}
</div>

