{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}

<div class="galeria-albumes__item">
	<div class="galeria-albumes__item-youtube">
		{{ fields.field_galeria_video_link.content }}
  </div>
  <div class="galeria-albumes__item-titulo">
    {{ fields.title.content }}
  </div>
  <div class="galeria-albumes__item-texto">
    {{ fields.field_galeria_video_descripcion.content }}
  </div>
</div>
