
//
// Tema UCR
//
// Desarrollado por:
// - Marco Artavia Quesada
// - Rubén Jiménez Goñi

.page {

    /* ================================================================================ */
    /* = Calendario =================================================================== */
    /* ================================================================================ */

    #calendario {
        margin: 0 auto;
    }


    #calendario .fc-body{
        background-color:white;
    }

    #calendario .fc-event{
        border: 1px solid white;
        background-color: white; 
    }
    #calendario .fc-bg .fc-other-month {
        background-color: #EDF1F3;
    }

    #calendario .fc-head .fc-day-header {
        background-color: #E2E7EA;
        color: #8E8E8A;
    }

    #calendario .fc-content-skeleton .fc-day-number {
        color: #8E8E8A;
    }

    #calendario .fc-toolbar .fc-left {
        float:right;
    }

    #calendario .fc-toolbar .fc-right {
        float:left;
        width:100%;
        border-bottom: solid 1px #A7A7A7;
        padding-bottom: 2px;
    }

    #calendario .fc-toolbar .fc-right .fc-button-group {
        width: 100%;
    }

    #calendario .fc-toolbar .fc-right .fc-button-group button {
        border:none;
        background-image:none;
        background-color:transparent;
        box-shadow: none;
        text-transform: uppercase;
        border-radius: 0;
        color:#A7A7A7;
        margin-right:10%;
        text-align: left;
    }

    #calendario .fc-toolbar .fc-left .fc-button-group button {
        border:none;
        background-image:none;
        background-color:transparent;
        box-shadow: none;
        text-transform: uppercase;
        border-radius: 0;
        text-align: left;
        height:3.1em;
        margin-top: 1em;
        padding:0;
    }

    @media(max-width:767px){
        #calendario .fc-toolbar .fc-left .fc-button-group button {
            height:40px;
        }
        
        #calendario .fc-toolbar .fc-center h2 {
            font-size:25px;
        }
        #calendario .fc-toolbar .fc-center {
            width: 70%;
        }
    }

    #calendario .fc-toolbar .fc-left .fc-button-group {
        font-size:2em;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    .fc-icon {
        font-size:0;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }

    #calendario .fc-toolbar .fc-left .fc-button-group button {
        &:focus, &:hover {
            outline: none;
        }
    }

    #calendario .fc-toolbar .fc-left .fc-button-group .fc-icon.fc-icon-left-single-arrow, #calendario .fc-toolbar .fc-left .fc-button-group .fc-icon.fc-icon-right-single-arrow {
        width: 30px;
        height: 40px;
        
        &:focus, &:hover {
            outline: none;
            opacity: 0.7;
        }  
        
        &::after {
            content: "";
        }
    }

    #calendario .fc-toolbar .fc-left .fc-button-group .fc-icon.fc-icon-left-single-arrow {
        background-image: url("../../../images/calendar/left.svg");
    }

    #calendario .fc-toolbar .fc-left .fc-button-group .fc-icon.fc-icon-right-single-arrow {
        background-image: url("../../../images/calendar/right.svg");
    }

    #calendario .fc-toolbar {
        text-align: left;
    }

    #calendario .fc-toolbar .fc-center h2 {
        text-transform: capitalize;
    }

    #calendario .fc-toolbar .fc-center {
        margin-top: 1em;
    }

    #calendario .fc-today-button {
        display:none;
    }

    #calendario .fc-toolbar .fc-right .fc-button-group button.fc-state-active {
        color:black;
    }

    #calendario .fc-title {
        font-size: 1.3rem;
		white-space: normal;
        line-height: 1.6rem;
        color: #005DA4;
        
        &:hover {
            font-size: 1.3rem;
        }
    }
}