{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<div class="n-personas__body">
  {{ content.body }}
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	{{ content.field_personas_referencia }}
</div>