{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<div class="n-galeria-imagen">
  {{ content.field_galeria_imagen }}
  {{ content.field_galeria_imagen_descripcion }}
  <a href="{{ url('<front>')}}galeria-albumes__item">
    Ir a la galería
  </a>
</div>