{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<ul class="enlaces_lista">
    {% for item in items %}
        <li>
            {{ item.content }}
        </li>
    {% endfor %}
</ul>