{#
  Tema desarrollado para la ECCI
#}
<div class="page">
  <div class="page--header">
    <header role="banner">
      {{ page.header }}
    </header>
    {{ page.navigation }}
  </div>
  <div class="page--content">
    <main role="main">
      {{ page.content }}
    </main>  
  </div>
  <div class="page--footer">
    <footer role="contentinfo">
      {{ page.footer }}
    </footer>
  </div>
</div>