{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<div class="galeria-albumes__item">
    <a class="galeria-albumes__item-img">
    {{ fields.field_galeria_album_portada.content }}
  </a>
  <div class="galeria-albumes__item-titulo">
    {{ fields.title.content }}
  </div>
  <div class="galeria-albumes__item-texto">
    {{ fields.field_galeria_album_descripcion.content }}
  </div>  
</div>
