{#
  Tema desarrollado para la UCR

  Autores:
  - Rubén Jiménez Goñi
  - Marco Artavia Quesada
#}
<div class="n-contacto__mapa">
  {{ content.field_contacto_mapa }}
</div>
<div class="n-contacto__body">
  {{ content.body }}
</div>
{{ content.field_contacto_form }}