<div class="actividad_mini-calendario-fecha">
    <div class="actividad_mini-calendario-dia">
        {{ fields.field_actividad_fecha.content }}
    </div>
    <div class="actividad_mini-calendario-mes">
        {{ fields.field_actividad_fecha_1.content }}
    </div>
</div>
<div class="actividad_mini-calendario-nombre">
    {{ fields.title.content }}
</div>