//
// Tema UCR
//
// Desarrollado por:
// - Marco Artavia Quesada
// - Rubén Jiménez Goñi

.page {

    /* ================================================================================ */
    /* = Nodo ========================================================================= */
    /* ================================================================================ */
    // ================================================
    // == node--areas comisiones.html.twig ===================
    // ================================================


}